<h1>Volunteer Opportunities</h1>
<div class="contentlines"></div>

<p>Coming soon...</p>

<!--
<table>
  <tr>
    <th>Guardian</th>
    <th>Event</th>
    <th>Attended</th>
    <th>Active</th>
  </tr>

<% @signups.each do |signup| %>
  <tr>
    <td><%=h signup.guardian_id %></td>
    <td><%=h signup.event_id %></td>
    <td><%=h signup.attended %></td>
    <td><%=h signup.active %></td>
    <td><%= link_to 'Show', signup %></td>
    <td><%= link_to 'Edit', edit_signup_path(signup) %></td>
    <td><%= link_to 'Destroy', signup, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

/* <%= link_to 'New signup', new_signup_path %> */
-->