<%# navigation options for administrators (and teachers, for now) %>

<ul class="menu">
	<li><%= link_to 'Events & Activities', home_path("eventsactivitiesadmin") %></li>
	<li><%= link_to 'Form Management', home_path("formsadmin") %></li>
	<li><%= link_to 'Volunteer Management', home_path("volunteeradmin") %></li>
	<li><%= link_to 'Family Management', households_path %></li>
	<li><%= link_to 'Dashboard', home_path("home") %></li>		
	
		<!-- <ul>
			<li><%# link_to 'Overview', guardians_path %></li>
			<li><%# link_to 'Households', households_path %></li>
			<li><%# link_to 'Guardians', guardians_path %></li>
			<li><%# link_to 'Students', students_path %></li>
            <li><%# link_to 'Directory', home_path("home") %></li>
		</ul> -->

	
	
	
	<!--<li><%# link_to 'Virtual Classroom', home_path("home") %></li>-->
	
</ul>

